<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336253393905-r9r7qt2nfkhf7gqtsrc6m2q5skk97iau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336253393905-r9r7qt2nfkhf7gqtsrc6m2q5skk97iau</string>
	<key>API_KEY</key>
	<string>AIzaSyAMSY76_II4XBPfDzcUtC1eK0wYnGJdDxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>336253393905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Wapp</string>
	<key>PROJECT_ID</key>
	<string>testeranda-b354e</string>
	<key>STORAGE_BUCKET</key>
	<string>testeranda-b354e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336253393905:ios:1a05eeca06f143441b0250</string>
</dict>
</plist>